body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    color: #000000;
    font-family: "Lato", "Open Sans", "Roboto", sans-serif;
}

.mylogo {
    margin: 20px 60px;
    width: 40px;
    height: 40px;
}
.mylogo:hover {
    cursor: pointer;
}
.boxshadow {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 20px;
    background-color: #1c1b1f;
    opacity: 0.1;
    box-shadow: inset 5px 120px 5px 5px rgba(0, 0, 0, 0.1);
    filter: blur(5px);
}
.nav-item {
    background-color: #6f5a9c;
}

/*Introduction section*/

.capsule1 {
    padding: 40px;
    background-color: #6f5a9c;
    display: flex;
    justify-content: center;
    justify-items: center;
    gap: 150px;
}
.intro {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    color: #f1eff6;
}
h1 {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 102px;
}
.description1 {
    padding-top: 0;
    margin-top: 0;
    font-size: 32px;
}
.presentation {
    width: 270px;
    height: 520px;
}

.capsule2 {
    margin: 10% 10% 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 112px;
}
.textarea {
    font-size: 18px;
    width: 600px;
}

.capsule3 {
    margin: 10% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 40px;
}
.textarea2 {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    width: 350px;
    height: 300px;
}

/*------------Slide image-------------------*/

.capsule4 {
    margin: 10% 0;
    background-color: #625783;
}
.container {
    background-color: #625783;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}
.slider {
    display: flex;
    animation: slide 16s infinite;
}
img {
    width: 20%;
    height: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100);
    }

    50% {
        transform: translateX(-100%);
    }
    55% {
        tranform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

/*---------------------------------------------*/

/*Phases*/

.phase1,
.phase2,
.phase3,
.phase4,
.phase5 {
    font-size: 72px;
    margin: 20% 0 0 0;
    text-align: center;
}
h3 {
    font-size: 32px;
}
/*---------------------------------------------*/

.capsule5 {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.img-2 {
    width: 400px;
    height: 400px;
    display: flex;
    padding: 0;
    margin: 0;
    transition: 0.8s all ease-in-out;
}
.img-2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.textarea3 {
    margin: 0 10%;
    font-size: 21px;
}

.capsule6 {
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.pallet {
    width: 100%;
    transition: 0.8s all ease-in-out;
}
.pallet:hover {
    cursor: pointer;
    transform: scale(1.5);
}
.textarea4 {
    margin: 0;
    padding: 0 100px;
    font-size: 21px;
}

.capsule7 {
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.moodboard {
    width: 100%;
    transition: 0.8s all ease-in-out;
}
.moodboard:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.capsule8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}
.textarea5 {
    margin: 0%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    font-size: 21px;
}

.Stories {
    display: flex;
    flex-direction: row;
    padding: 0% 5%;
}
.priority {
    margin-top: 0;
    padding: 2%;
}

.capsule9 {
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.textarea6 {
    margin: 0%;
    padding: 0 5%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userflow {
    margin: 2% 0;
    background-color: #6f5a9c;
    border: 2px solid #6f5a9c;
    width: 880px;
    height: 480px;
    transition: 0.8s all ease-in-out;
}
.userflow:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.capsule10 {
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textarea7 {
    margin: 2% 10%;
    font-size: 19px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.sketches {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.skecth {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}
.simg {
    margin: 20px;
    padding: 20px;
    width: 200px;
    border: 0.5px solid #000000;
    transition: 0.8s all ease-in-out;
}
.simg:hover {
    cursor: pointer;
    transform: scale(2.5);
}

.capsule11 {
    margin: 10%;
    display: flex;
}
.Dlibrary {
    width: 60%;
    transition: 0.8s all ease-in-out;
}
.Dlibrary:hover {
    cursor: pointer;
    transform: scale(1.5);
}
.textarea8 {
    padding: 5%;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.capsule12 {
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
}
.textarea9 {
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 19px;
}
.wireframe {
    width: 500px;
    transition: 0.8s all ease-in-out;
}
.wireframe:hover {
    cursor: pointer;
    transform: scale(1.6);
}

.capsule13 {
    margin: 10%;
    display: flex;
    justify-content: center;
}
.textarea10 {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.wireframe2 {
    width: 40%;
    transition: 0.8s all ease-in-out;
}
.wireframe2:hover {
    transform: scale(1.4);
}

.capsule14 {
    margin: 10%;
    display: flex;
    flex-direction: row-reverse;
}
.textarea11 {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}
.wireframe3 {
    width: 40%;
    transition: 0.8s all ease-in-out;
}
.wireframe3:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.capsule15 {
    margin: 10%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.textarea12 {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
    text-align: right;
}
.iteration {
    width: 80%;
    transition: 0.8s all ease-in-out;
}
.iteration:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.capsule16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 19px;
    margin: 10%;
}
.textarea13 {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
}
.iteration {
    align-items: center;
}
.iteration:hover {
    transform: scale(1.6);
    z-index: 2;
    cursor: pointer;
}

.capsule17 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 10%;
    text-align: left;
    font-size: 19px;
}
.textarea14 {
    margin: 0 10%;
    text-align: center;
    align-items: center;
    font-size: 19px;
}
.subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0;
}
.ui-img {
    width: 80%;
    transition: 0.8s all ease-in-out;
}
.ui-img:hover {
    cursor: pointer;
    transform: scale(1.6);
}

.capsule18 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 10%;
}
.textarea15 {
    margin: 10%;
    align-items: center;
    text-align: center;
}
.styleguide {
    border: 1px solid #6f5a9c;
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
}
.guide {
    animation: slider 16s infinite;
    width: 100%;
}
/*Style Guide slider*/
@keyframes slider {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-100);
    }

    50% {
        transform: translateX(-100%);
    }
    55% {
        tranform: translateX(-100%);
    }
    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-300%);
    }
}

.capsule19 {
    margin: 10%;
    display: flex;
    align-items: center;
}
.test {
    font-size: 19px;
    padding: 5%;
}

.capsule20 {
    margin: 10%;
    display: flex;
    gap: 100px;
}
.note1 {
    font-size: 19px;
}
.note2 {
    font-size: 19px;
}

footer {
    margin-top: 20%;
    margin-bottom: 5%;
}
.end-section {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin: 5% 20%;
    gap: 60px;
}
.more {
    font-family: Helvetica;
    text-align: center;
}
.more-projects {
    display: flex;
    align-content: center;
    width: 40%;
    height: 80px;
    background-color: #f3f3f3;
    color: #00483c;
}
.chalc {
    width: 140px;
    height: 80px;
}
.project1 {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.ifocus-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 80px;
    background-color: #f3f3f3;
    font-family: "Open Sans", sans-serif;
}
.ifocus {
    width: 140px;
    height: 80px;
}
.project2 {
    margin-left: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    text-align: center;
    color: #2b5ad2;
}
